/*
    background : back_green
    font : 506030
    dark : b1d363
    light : e7efd2
*/

img {
    border:0;
}
/* #000 => #506030 */
a {font-family:monospace; font-size: 13px; color: #506030; background: transparent; }

/* back => back_red */
body {
    font-family: monospace;
    font-size: 11px;
    border:0;
    marging:0;
    padding:0;
    background:url(../images/back_green.png) repeat left top;
    }

#colors{
    padding-top:10px;
    height:105px;
}
    
#content {
    font-family: monospace;
    font-size: 11px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    display: block;
    border: 1px solid #111111;
    }
    
#logo {
    font-family: monospace;
    font-size: 11px;
    border:0;
    marging:0;
    padding:5;
    background:url(../images/IWoot.jpg) no-repeat 10px 10px;
    height:105px;
    width: 1000px;
    display: block;
    float: left;
    }
    
/* #BBBBBB => #b1d363 */    
#toolbar {
    font-family: monospace;
    font-size: 11px;
    border:0;
    marging:0;
    padding:5px 0 5px 15px;
    background-color:#b1d363;
    }

/* #DDDDDD => #e7efd2 */    
#boxes {
    font-family: monospace;
    font-size: 11px;
    border:0;
    marging:0;
    padding:0;
    background-color:#e7efd2;
    }

#box-left {
    margin:20px 10px 20px 20px;
    width: 350px;
}

#box-right {
    margin:20px 20px 20px 10px;
    width: 610px;
}

#box-unic {
    margin:20px 20px 20px 10px;
    height:auto;
}

#button {
    display: block;
    float: left;
    margin-right: 10px;
}
/* #AAAAAA => #506030 */    
#box_title {
    font-family: monospace;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    border-bottom:1px solid #506030;
}

/* #AAAAAA */
#bootstrap_menu {
    margin:20px 10px 20px 20px;
    font-family: monospace;
    font-size: 13px;
    border-bottom:1px solid #AAAAAA;
}

#deconnected_neighbor {
    font-family: monospace;
    font-size: 13px;
    font-weight:italic;
    color: #BBBBBB;
}


/* #000 => #550000 */
.box {
    font-family: monospace;
    font-size: 11px;
    color:#506030;
    border:1px solid #888888;
    padding:0px;
    background-color:white;
    overflow: auto;
    height: 200px;
    display: block;
    float: left;
    }

.checkbox{
    margin-top:15px;
    padding-left:15px;
}

.button_margin{
    margin:20px 10px 20px 5px;    
}

.menu_margin {
    margin:20px 10px 20px 20px;
}
    
.box ul { 
    margin:O;
    padding:0;
    list-style-type: none;
}

.box ul li {
    padding-left:15px;
}

.clearer{
    clear:both;
}

.icon{
    padding:10;
    
    }

.small_icon{
    padding:3;
    
    }
    
        
    
    