{{html}}
<script type="text/javascript">
/* <![CDATA[ */
if (typeof(XWiki) == "undefined") {
  XWiki = new Object();
}

if (typeof(XWiki.officePreview) == 'undefined') {
  XWiki.officePreview = new Object();
}

XWiki.officePreview.slides = [
  #foreach($slide in $slides)
    "$slide",
  #end
];

XWiki.officePreview.currentSlide = 0;

XWiki.officePreview.flipSlide = function(direction) {
  switch (direction) {
    case "first":
      this.currentSlide = 0;
      break;    
    case "prev":
      if (this.currentSlide > 0) {
        this.currentSlide -= 1;    
      }
      break;    
    case "next":
      if (this.currentSlide < this.slides.length - 1) {
        this.currentSlide += 1;
      }
      break;    
    case "last":
      this.currentSlide = this.slides.length - 1;
      break;    
    default:
      this.currentSlide = 0;
  }
  $("presentation_preview_image").src = this.slides[this.currentSlide];
  return false;
}
/* ]]> */
</script>

<div id="presentation_preview_box">
  <p style="text-align:center;">
    <span><input class="button" type="submit" onclick="javascript:XWiki.officePreview.flipSlide('first');" value="First"/></span>
    <span><input class="button" type="submit" onclick="javascript:XWiki.officePreview.flipSlide('prev');" value="Prev"/></span>
    <span><input class="button" type="submit" onclick="javascript:XWiki.officePreview.flipSlide('next');" value="Next"/></span>    
    <span><input class="button" type="submit" onclick="javascript:XWiki.officePreview.flipSlide('last');" value="Last"/></span>
  </p> 
  <p style="text-align:center;">
    <img id="presentation_preview_image" src="$slides.get(0)" onclick="javascript:XWiki.officePreview.flipSlide('next');"/>
  </p>  
</div>
{{/html}}